*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.content-centr {
    justify-content: center;
}
.content-betwin{
    justify-content: space-between;
}
.items-centr{
    align-items: center;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}


.page-box{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #f7f7f7;
}
.page{
    padding: 50px 0;
}
.header{
    width: 100%;
}
.header-conteiner {
    padding: 13px 0;
    width: 100%;
    max-width: 960px;
}
.header-navigation-ul{
    gap: 20px;
}


.footer{
    background-image: url(footer.png);
    background-color: #656565;
    width: 100%;
}
.footer-conteiner{
    padding: 13px 0;
    width: 100%;
    max-width: 960px; 
}
.footer-navigation-ul{
    gap: 20px;
}

.logotype-white{
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-size: 26px;
    text-transform: none;
}

.logotype-black{
    text-decoration: none;
    color: #2E2E2E;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-size: 26px;
    text-transform: none;
}

.nav-element-white{
    text-decoration: none;
    color: #FFFFFF;
    font-family: "oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    text-transform: uppercase;
}

.nav-element-black{
    text-decoration: none;
    color: #2E2E2E;
    font-family: "oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    text-transform: uppercase;
}

.heading{
    text-align: center;
    color: #2E2E2E;
}

.heading-title{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 50px;
    font-weight: 400;
}

.heading-subtitle{
    margin-top: 20px;
    font-family: "oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
}

#Northernlights{
    margin-top: 100px;
    width: 100%;
}

.content-conteiner{
    width: 100%;
    max-width: 960px;
    padding: 100px 0;
    gap: 20px;
    margin-top: 20px;
    font-family: "oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: #101315;
}
